body {
  font-family: 'Poppins', sans-serif;
    background-color: #E7ECF8;;
}


.navbar-bg {
    background-color: #ffffff;
    box-shadow: 0 0 2rem 0 rgba(41,48,66,.1);
}


ul.top-nav li a {
  color: #000000;
}

ul.top-nav li {
  padding: 3px 10px;
}

ul.top-nav li:hover {
  color: #000000;
}

ul.top-nav .dropdown-menu {
  top: 62px;
  right: -7px;
  left: auto;
  overflow: visible;
  border: none;
}

ul.top-nav .dropdown-menu li {
  padding: 0;
}

ul.dropdown-menu li a {
  color: #000000;
  padding: 8px 15px;
}
ul.dropdown-menu li a:hover {
  background-color: #c8deff;
  color: #000000;
}

ul.top-nav .dropdown-menu li i {
  margin-right: 10px;
}

.dropdown-toggle::after{
  display: none;
}

ul.navbar-nav li a i {
  font-size: 20px;
}



.user-drop-menu {
  animation: growOut 300ms ease-in-out forwards;
  transform-origin: top center;
  transition: all 2s ease;
}

@keyframes growOut {
  0% {
     transform: scale(0)
 }
 80% {
     transform: scale(1.0)
 }
 100% {
     transform: scale(1)
 }
}



.message-box {
  animation: growOut 300ms ease-in-out forwards;
  transform-origin: top center;
  transition: all 2s ease;
  padding: 0;
}


.msg-badge {
  transform: translate(-150%,-50%)!important;
  padding: 2px 5px;
}

.noti-badge {
  transform: translate(-110%,-50%)!important;
  padding: 2px 5px;
}

.message-box::before, .notification::before, .user-drop-menu::before {
  background: #fff;
    border-left: 1px solid #f2f4f9;
    border-top: 1px solid #f2f4f9;
    content: "";
    height: 13px;
    position: absolute;
    right: 28px;
    top: -7px;
    transform: rotate(45deg);
    width: 13px;
}


@keyframes growOut {
     0% {
        transform: scale(0)
    }
    80% {
        transform: scale(1.0)
    }
    100% {
        transform: scale(1)
    }
}


.notification {
  animation: growOut 300ms ease-in-out forwards;
  transform-origin: top center;
  transition: all 2s ease;
  width: 400px;
  padding: 0;
}

.notification-header p {
  font-size: 14px;
}

.notification-header a {
  font-size: 14px;
}


@keyframes growOut {
     0% {
        transform: scale(0)
    }
    80% {
        transform: scale(1.0)
    }
    100% {
        transform: scale(1)
    }
}


#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    -webkit-transition: margin 0.25s ease-out;
    -moz-transition: margin 0.25s ease-out;
    -o-transition: margin 0.25s ease-out;
    transition: margin 0.25s ease-out;
   
  }
  
  #sidebar-wrapper .sidebar-heading {
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
  }
  
  #sidebar-wrapper .list-group {
    width: 15rem;
  }
  
  #page-content-wrapper {
    min-width: 100vw;
  }
  
  #wrapper.toggled #sidebar-wrapper {
    margin-left: 0;
  }
  
  #menu-toggle {
    cursor: pointer;
  }

  .sidebar-content {
    padding: 12px 0;
    background-color: #ffffff;
}



  ul.sidebar-menu li  {
    padding: 0 ;
    border: none;
    background-color: transparent;
}

ul.sidebar-menu li a {
  color: #40475c;
  text-decoration: none;
  font-size: 14px;
  display: block;
  padding: 12px 30px;
}

ul.sidebar-menu li i {
  width: 20px;
  text-align: center;
  font-size: 18px;
  margin: 0 10px 0 0;
  color: #40475c;
}

ul.message-box {
  width: 400px !important;
}




ul.dropdown-menu li a {
  color: #000000;
}

  @media (min-width: 768px) {
    #sidebar-wrapper {
      margin-left: 0;
    }
  
    #page-content-wrapper {
      min-width: 0;
      width: 100%;
    }
  
    #wrapper.toggled #sidebar-wrapper {
      margin-left: -15rem;
    }
  }
  


.depsit-box {
    background-color: #ffffff;
    color: #000000;
    border-left: 10px solid #00a1f1;
}

.deposit-box-content h5 {
  color: #a1a5b5;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 18px;
}

.deposit-box-icon {
  background-color: #c7e9fb;
  padding: 5px 15px;
  border-radius: 5px;
  color: #3065f1;
}

.ms-auto.deposit-box-icon i {
  font-size: 50px;
}


.widthdraw-box {
    background-color: #ffffff;
    color: #000000;
    border-left:10px solid #F59E0B;
}

.withdraw-box-content h5 {
  color: #a1a5b5;
  text-transform: capitalize;
  font-weight: 400;
  font-size: 18px;
}

.withdraw-box-icon {
  background-color: #ffeed0;
  padding: 5px 15px;
  border-radius: 5px;
  color: #f19d11;
}

.withdraw-box-icon i {
  font-size: 50px;
}


.blance-box {
    background-color: #ffffff;
    color:#000000;
    border-left: 10px solid #16A34D;
}

.balance-box-icon {
  background-color: #bff4d4;
  padding: 5px 15px;
  border-radius: 5px;
  color: #16a34d;
}

.balance-box-icon i {
  font-size: 50px;
}



.expence-box {
    background-color: #ffffff;
    color:#000000;
    border-left: 10px solid #EB4546;
}

.expence-box-icon {
  background-color: #ffdada;
  padding: 5px 15px;
  border-radius: 5px;
  color: #eb4546;
}
.expence-box-icon i {
  font-size: 50px;
}


.deposit-form {
    background-color: #ffffff;
}

.withdraw-form {
    background-color: #ffffff;
}

.bg-white {
    background-color: #ffffff;
}


.expence-data {
    background-color: #ffffff;
}



.thead-dark {
    background-color: #0d6efd;
    color: #ffffff;
}



.form-error-text {
  margin-top: 0.75rem;
  font-size: 13px;
  color: #f0141e;
  background-color: #ffecec;
  padding: 6px 15px;
  border-radius: 3px;
}

/* 992 to 1360 Responsive issue */